<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:replace="fragments/commonHead"></th:block>
</head>

<body>
<!-- Header Section -->
<header th:replace="fragments/commonHeader :: header"></header>

<section class="elements-section spad">
    <div class="element">
        <div class="col-lg-4 col-md-6 sidebar">
            <div class="sb-widget">
                <form class="search-form">
                    <label type="text" placeholder="검색어를 입력해 주세요." >
                </form>
            </div>
        </div>

        <div id="result" class="element" th:if="${contentDtoList} != null">
            <div class="row" th:each="content : ${contentDtoList}">
                <div class="col-md-4">
                    <div class="icon-box-item ">
                        <form th:action="@{/content/editor}" th:object="${contentDto}" th:method="post">
                            <input type="hidden" name="contentId" th:value="${content.getContentId()}"/>
                            <input type="hidden" name="body" th:value="${content.getBody()}"/>
                            <input type="hidden" name="title" th:value="${content.getTitle()}"/>

                            <button class="" th:type="submit" style="float:left"/>
                            수정하기
                            </button>
                        </form>
                        <form th:action="@{/content/my}" th:object="${contentDto}" th:method="post">
                            <input type="hidden" name="contentId" th:value="${content.getContentId()}"/>
                            <input type="hidden" name="body" th:value="${content.getBody()}"/>
                            <input type="hidden" name="title" th:value="${content.getTitle()}"/>

                            <button class="" th:type="submit" onclick="click_delete();"/>
                            삭제하기
                            </button>
                        </form>

                        <div class="ib-text">
                            <h5 th:text="*{content.getTitle()}"></h5>
                            <p th:if="${content.getFileName().length()} > 0 ">
                                <img th:src="'/user-images/' + ${#strings.substring(content.getPostingTime(),0,10)} +'/'+ ${content.getFileName()}"/>
                            </p>
                            <p th:text="*{content.getBody()}">  </p>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="site-pagination" th:if="${contentDtoList.getTotalPages() > 1}" th:with="search = ${''}">
                <ul class="pagination"
                    th:with="start = (${T(Math).floor(contentDtoList.getPageable().getPageNumber() / 10) * 10 + 1}),
                        last = (${(T(Math).floor(contentDtoList.getPageable().getPageNumber() / 10) * 10 + 1) + 9 < members.getTotalPages() ? (T(Math).floor(members.getPageable().getPageNumber() / 10) * 10 + 1) + 9 : members.getTotalPages()})">
                    <li>
                        <a th:href="@{/content/my(page=1)}" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>

                    <li th:class="${contentDtoList.first} ? 'disabled'">
                        <a th:href="@{/content/my(page=${contentDtoList.getPageable().getPageNumber()})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == contentDtoList.getPageable().getPageNumber() + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{/content/my(page=${page})}"></a>
                    </li>

                    <li th:class="${contentDtoList.last} ? 'disabled'">
                        <a th:href="@{/content/my(page=${contentDtoList.getPageable().getPageNumber()+2})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    </div>
</section>

<!--====== Javascripts & Jquery ======-->
<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/jquery.slicknav.min.js"></script>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="/resources/js/jquery-ui.min.js"></script>
<script src="/resources/js/main.js"></script>
<script>
    function click_delete(){
        alert("삭제되었습니다");
    }
</script>

</body>
</html>
