<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/commonHead"></th:block>
</head>
<body>

<header th:replace="fragments/commonHeader :: header"></header>

<section class="hero-section">
    <div class="col-lg-6">
        <form class="hero-form" th:action="@{/content/new/do}" th:object="${contentDto}" action="#" th:method="post" enctype="multipart/form-data" >
            <input type="text" placeholder="Content Title" th:field="*{title}" required="required">
            <input type="file" placeholder="file" name="file" >
            <textarea name="body" placeholder="Content Body" th:field="*{body}" required="required" wrap="hard" >
            </textarea>
            <button class="site-btn" th:type="submit">create content!</button>
        </form>
    </div>
</section>

</body>
</html>
