<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
>
<head>
    <th:block th:replace="fragments/commonHead"></th:block>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<header th:replace="fragments/commonHeader :: header"></header>

<!-- Hero Section end -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hs-text">
                    <h2>SNS Time Line</h2>
                    <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
                    <a href="#" class="site-btn sb-dark">Find out more</a>
                </div>
            </div>

            <div class="col-lg-6">
                <form class="hero-form" th:action="@{/sign/in}" th:method="post" action="#">
                    <input type="email" placeholder="Your E-mail" th:name="email" required="required">
                    <input type="password" placeholder="Your Password" th:name="password" required="required">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <button class="site-btn">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/resources/img/hero-slider/1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/resources/img/hero-slider/2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/resources/img/hero-slider/3.jpg"></div>
    </div>
</section>

<!-- Hero Section end -->

<!--====== Javascripts & Jquery ======-->
<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/jquery.slicknav.min.js"></script>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="/resources/js/jquery-ui.min.js"></script>
<script src="/resources/js/main.js"></script>

<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
    const error = /*[[${error}]]*/ false;

    $(document).ready(function () {
        if(error) {
            alert("로그인 정보를 확인해 주세요.");
        }
    });
    /* ]]> */
</script>
</body>
</html>
