<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Header Section -->
<header class="header-section">
    <a th:href="@{/timeLine}" class="site-logo">
        <img src="/resources/img/logo.png" alt="">
    </a>
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a sec:authorize="isAnonymous()" th:href="@{/}">Home</a></li>
            <li><a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/profile}">Profile</a></li>
            <li><a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/content/my}" th:method="get">My Content</a></li>
            <li><a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/timeLine}">Time Line</a></li>
            <li><a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/member/search}">Search member</a></li>
            <li><a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/content}" th:method="get">Posting</a></li>
        </ul>
        <div class="header-right" sec:authorize="isAuthenticated()">
            <a sec:authorize="isAuthenticated()" th:href="@{/sign/out}" class="hr-btn hr-btn-2">Sign Out</a>
        </div>

        <div class="header-right" sec:authorize="isAnonymous()">
            <a sec:authorize="isAnonymous()" th:href="@{/sign/up}" class="hr-btn hr-btn-2">Sign Up</a>
        </div>
    </nav>
</header>
<!-- Header Section end -->


</html>
