<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/commonHead"></th:block>
</head>
<body marginwidth="0" marginheight="0">
<<!-- CTA Section end -->
<section class="cta-section set-bg" data-setbg="img/cta-bg.jpg">
    <div class="container">
        <h2 th:text="${code}"/>
        <h5 th:text="${msg}"/>
        <a th:href="@{/}" class="site-btn sb-dark sb-big">Back to Home</a>
    </div>
</section>
<!-- CTA Section end -->
</body>
</html>
