<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
>

<head>
    <th:block th:replace="fragments/commonHead"></th:block>
</head>

<body>
<!-- Header Section -->
<header th:replace="fragments/commonHeader :: header"></header>

<section class="elements-section spad">
    <div class="element">
        <div class="col-lg-4 col-md-6 sidebar">
            <div class="sb-widget">
                <form class="search-form" th:action="@{/member/search/do}" th:method="GET">
                    <input th:id="search" type="text" placeholder="검색어를 입력해 주세요." th:name="search">
                    <button th:type="submit"><img src="img/search-icon.png" alt=""></button>
                </form>
            </div>
        </div>

        <div id="result" class="element" th:if="${memberDtoList} != null">
            <div class="row" th:each="memberDto : ${memberDtoList}">
                <div class="col-md-4">
                    <div class="icon-box-item ">
                        <form th:action="@{/subscribe}" th:object=${subscribeDto} method="post">
                            <input type="hidden" name="id" th:value="${memberDto.getId()}"/>
                            <button class="ib-icon btn" th:type="submit">
                                <i class="flaticon-036-customer-service"></i>
                            </button>
                        </form>

                        <div class="ib-text">
                            <h5 th:text="*{memberDto.getEmail()}"></h5>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per incep-tos
                                himenaeos. Suspendisse potenti. Ut gravida mattis.</p>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="site-pagination" th:if="${memberDtoList.getTotalPages() > 1}" th:with="search = ${''}">
                <ul class="pagination"
                    th:with="start=${T(Math).floor(memberDtoList.number/10)*10 + 1},
                            last=(${start + 9 < memberDtoList.getTotalPages() ? start + 9 : memberDtoList.getTotalPages())})">
                    <li>
                        <a th:href="@{/member/search/do(search = ${search},page=1)}" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>

                    <li th:class="${memberDtoList.first} ? 'disabled'">
                        <a th:href="@{/member/search/do(search = ${search}, page=${memberDtoList.getPageable().getPageNumber()})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == memberDtoList.getPageable().getPageNumber() + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{/member/search/do(search = ${search}, page=${page})}"></a>
                    </li>

                    <li th:class="${memberDtoList.last} ? 'disabled'">
                        <a th:href="@{/member/search/do(search = ${search}, page=${memberDtoList.getPageable().getPageNumber()+2})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</section>

<!--====== Javascripts & Jquery ======-->
<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/jquery.slicknav.min.js"></script>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="/resources/js/jquery-ui.min.js"></script>
<script src="/resources/js/main.js"></script>

<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
    function getMemberList(search, page) {
        console.log(search + '  ' + page);
        const url = "/member/search?search=" + search + "&page=" + page;

        $.ajax({
            type: "get",
            url: url,
            async: false,
            dataType: "json",
            success: function (data) {
                // $('#result').setAttribute(th:)
                alert(data);
            }
        });
    }

    function addSubscribe(member) {
        const url = "/subscribe/do";

        console.log(member.id);

        const request = {
            id : member.id
        }

        $.ajax({
            type: "post",
            data: request,
            url: url,
            async: false,
            dataType: "json",
            success: function () {
                alert("success");
            }
        });
    }
    /* ]]> */
</script>
</body>
</html>
