<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/commonHead"></th:block>
</head>
<body>

<header th:replace="fragments/commonHeader :: header"></header>

<section class="hero-section"
         th:style="'background: url(/resources/img/hero-slider/1.jpg) no-repeat center center fixed;'">
    <div class="col-lg-6">
        <form class="hero-form" th:action="@{/sign/up/do}" th:object="${memberDto}" action="#" th:method="post">
            <input type="text" placeholder="Your Name" th:field="*{name}" required="required">
            <input type="email" placeholder="Your E-mail" th:field="*{email}" required="required">
            <input type="password" placeholder="Your Password" th:field="*{password}" required="required">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus vel facilisis. </p>
            <button class="site-btn" th:type="submit">Sign Up!</button>
        </form>
    </div>
</section>

</body>
</html>
